/* You can add global styles to this file, and also import other style files */
html {
    background-color: #0033A0;
}

h1 {
    text-align: center;
    color: #D64309;
}

body {
    text-align: center;
}